:root {
    --main: #B5DBF5;
    --sec: #0187DE;
    --bg: #1282A2;
    --text: #fefcfb;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--text);
    max-width: 70%;
    margin-left: 15%;
}

@media screen and (max-width: 768px) {
    body {
        max-width: 100%;
        margin-left: 0%;
    }

    .profile {
        position: absolute;
        bottom: 145px !important;
        transform: translateY(50%);
        width: 150px !important;
    }

}

a {
    text-decoration: none;
    color: black;
}

h3 {
    color: var(--sec);
    text-align: center;
}

h5 {
    text-align: center;
}

.bg-details {
    background-color: var(--main);
}

.bg-name {
    text-align: center;
    background-color: var(--sec);
    color: var(--text);
}

.profile {
    position: absolute;
    bottom: 70px;
    transform: translateY(50%);
    width: 200px;
}

.icon {
    height: 25px;
    margin-right: 0.75rem;
    ;
}

.section-title {
    font-weight: bold;
}

.hr {
    border-top: var(--main) 10px solid;
    margin-bottom: 15px;
}